.history
.fontawesome
# all codes doesnot need it now
    # <!-- start stuff section -->
    # <!-- <div class="stuff">
    #     <div class="container">
    #         <div class="page">
    #             <button>اعضاء هيئة التدريس</button>
    #         </div>
    #     </div>
    # </div> -->
    # <!-- end stuff section -->
